@import '../../App.scss';
// Categorias
.content-expenses {
  position: relative;

  .containerCategoria{
    display: flex;
    justify-content: space-between;
  }

  .categoria {
    width: 81px;
    height: 25px;
    background-color: $white;
    border: 1px solid $gray;
    border-radius: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $gray;
    font-weight: 400;
    font-size: 0.8rem;

    &.active {
      background-color: rgba($primary, 0.15);
      border: 1px solid $primary;
      color: $primary;
    }
  }
}

// Modal container Grilla
.containerGridStyle {
  display: flex;
  justify-content: space-between;
  height: 69vh;
}

.container1 {
  width: 60%;
  background-color: $white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.075);
  border-radius: 4px;
}

.container2 {
  width: 35%;
  background-color: $white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.075);
  border-radius: 4px;
  padding: 15px;
}

// container 1
.gridStyle {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  direction: ltl;
  overflow: auto ;
  height: 55vh;
  padding: 0px 10px;
}

// Productos
.producto {
  width: 92px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 4px 15px;
}

// Botton edit 
.editarModal{
  display: flex;

  & span{
    margin-left: 15px;
    color: $primary;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
  }
}

.infocontainer{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}


.inventario {
  border-radius: 4px;
  background-color: $white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.075);
  width: 500px;

  tr.row {
    border-bottom: 1px solid rgba($gray, .3);

    td {
      justify-content: center;
    }
  }
}
