@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

body {
  width : 100%;
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}



html,
body,
#root {
  width      : 100%;
  height     : 100%;
  font-family: 'Abel', sans-serif;
}

p {
  margin: 0;
}

$primary: #FF7C61;
$gray   : #777483;
$back   : #F7F9FE;
$black  : #000000;
$dark   : #343A40;
$white  : #FFFFFF;
$border : #DEE2E6;

$widths : 1200 720 700 680 640 600 560 480 400 360 320 300 280 240 200 180 160 140 120 100 96 80 60;

@each $width in $widths {
  .w-#{$width} {
    width: $width + 0px;
  }

  .maxw-#{$width} {
    max-width: $width + 0px;
  }

  .minw-#{$width} {
    min-width: $width + 0px;
  }

}

@for $i from 1 to 13 {
  $base : 12;
  $width: $i / $base;

  .w-#{$i}-12 {
    width: $width + 0%;
  }
}

@for $i from 1 to 20 {
  $base: 5;

  .wp-#{$i * $base} {
    width: $base + 0%;
  }
}

@for $i from 1 to 13 {
  .flex-#{$i} {
    flex: $i;
  }
}

@for $i from 0 to 65 {
  .p-#{$i} {
    padding: $i + 0px !important;
  }

  .pr-#{$i} {
    padding-right: $i + 0px !important;
  }

  .pl-#{$i} {
    padding-left: $i + 0px !important;
  }

  .pt-#{$i} {
    padding-top: $i + 0px !important;
  }

  .pb-#{$i} {
    padding-bottom: $i + 0px !important;
  }

  .pv-#{$i} {
    padding-bottom: $i + 0px !important;
    padding-top   : $i + 0px !important;
  }

  .ph-#{$i} {
    padding-right: $i + 0px !important;
    padding-left : $i + 0px !important;
  }

  .m-#{$i} {
    margin: $i + 0px !important;
  }

  .mr-#{$i} {
    margin-right: $i + 0px !important;
  }

  .ml-#{$i} {
    margin-left: $i + 0px !important;
  }

  .mt-#{$i} {
    margin-top: $i + 0px !important;
  }

  .mb-#{$i} {
    margin-bottom: $i + 0px !important;
  }

  .mv-#{$i} {
    margin-bottom: $i + 0px !important;
    margin-top   : $i + 0px !important;
  }

  .mh-#{$i} {
    margin-right: $i + 0px !important;
    margin-left : $i + 0px !important;
  }

  .h-#{$i} {
    height: $i + 0px;
  }

  .w-#{$i} {
    width: $i + 0px;
  }
}

.mh-auto {
  margin: 0 auto;
}

$aligns: left right center;

@each $align in $aligns {
  .text-#{$align} {
    text-align: $align;
  }
}

$sizes: 12 13 14 16;

@for $i from 8 to 33 {
  .text-#{$i} {
    font-size: $i + 0px;
  }
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.flex-column {
  flex-direction: column;
}


.align-center {
  align-items: center;
}

.align-start {
  align-items: start !important;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-black {
  color: $black;
}

.text-dark {
  color: $dark;
}

.text-gray {
  color: $gray;
}

.text-primary {
  color: $primary;
}

.text-white {
  color: $white;
}

.bold {
  font-weight: bold;
}

.decoration-none {
  text-decoration: none;
}

.bradius-4 {
  border-radius: 4px;
}

.primary {
  color: $primary;
}

svg {
  fill: $primary;

  &.fill-gray {
    fill: $gray;
  }
}

.main-wrapper {
  display         : flex;
  height          : 100vh;
  background-color: $back;

  .main-content {
    width: calc(100vw - 180px);
  }
}

.bg-gray {
  background-color: $gray;
}

.bg-lightgray {
  background-color: rgba($gray, .3);
}

.opacity-3 {
  opacity: 0.3;
}

.line-30 {
  line-height: 30px;
}

.border-right {
  border-right: 1px solid rgba($gray, .3);
}

.cursor-pointer {
  cursor: pointer;
}

.round {
  border-radius: 100px;
  border-width : 1px;
  border-style : solid;
}

.border-primary {
  border-color: $primary;
}